<h1>Foods List</h1>
<table>
  <tr>
    <th> INGREDIENT</th>
    <th> SPICE </th>
    <th> MEASUREMENT </th>
  </tr>
  <% @foods.each do |food| %>
  <tr>  
    <td><%= food.ingredient %></td>
    <td><%= food.spice %></td>
    <td><%= food.measurement %></td>
  </tr>
<% end %>
  