<h1> New Foods</h1>
 
 <%= form_tag "/foods", method: :post do %>
   Ingredient:<input type="text" name="ingredient">
   Spice:<input type="text" name="spice">
   Measurement:<input type="text" name="measurement">
   <input type="submit" value="Add a food">
<% end %>